---
layout: layout.liquid
title: My Everyday Carry
---


<main class="home">
<h2>Things I <span class="accent">Never</span> Leave Home Without</h2>
<p>Here are three items I carry with me every day. Each one is essential!</p>
<ul>
  {% navItem "My Glasses", "/glasses/" %}
  {% navItem "My Phone", "/phone/" %}
  {% navItem "My Keys", "/keys/" %}
</ul>
</main>