---
title: My Everyday Carry
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>EVERYDAY CARRY</h1>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/glasses/" title="My Glasses">Glasses</a></li>
      <li><a href="/phone/" title="My Phone">Phone</a></li>
      <li><a href="/keys/" title="My Keys">Keys</a></li>
    </ul>
  </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Peyton Blanchard's Everyday Carry 2025</p>
  </footer>
</body>
</html>